@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
$primary-color: #6081B3;
$secondary-color: #FFC5BD;
$text-color: #eee;
$font-stack: 'Roboto Mono', monospace;
$header-font-size: 40px;
$content-font-size: 24px;
$nav-font-size: 20px;
