@import 'variables';
@import 'mixins';

body {
   background-color: $primary-color;
   color: $text-color;
}

header {
   position: relative;
   left: 10px;
   top: 15px;
   margin: 10px;
   padding: .5em;
   line-height: 28px;
   font-family: $font-stack;
   font-size: $header-font-size;
   color: $secondary-color;
}

h2 {
   background: {
      color: inherit;
      image: none;
      repeat: no-repeat;
      attachment: fixed;
      position: top left;
   }
   position: relative;
   left: 8px;
   line-height: 100px;
   color: $text-color;
}

img {
   @include border;
}

h3 {
   background: {
      color: inherit;
      image: none;
      repeat: no-repat;
      attachment: fixed;
      position: top left;
   }
   position: relative;
   left: 7px;
   line-height: 100px;
}

span {
   &.highlight {
      background-color: $secondary-color;
      color: $primary-color;
   }
}

body > nav {
   position: relative;
   left: 38px;
   padding: .5em;
   line-height: 50px;
   font-family: $font-stack;
   font-size: $nav-font-size;
}

p {
   position: relative;
   left: 18px;
   padding: .5em;
   margin: 10px;
   line-height: 33px;
   font-family: $font-stack;
   font-size: $content-font-size;
}

a {
   &:link {
      color: $text-color;
      text-decoration: underline;
   }

   &:visited {
      color: $text-color;
   }

   &:hover {
      color: $secondary-color;
      transition: 350ms;
   }

   &:active {
      text-decoration: none;
   }
}
